*{
    box-sizing: border-box;
  
}
.collapse{
    padding-left: 60%;
}
.move{
    margin-left: 10px;
}
.container-fluid{
    padding: 5% 15%;
    
}
.mycontainer{
    display: flex;
    justify-content: space-around;
}
.productDetails{
    margin-right: 30%;
}
/* Designing the template for invoice */
.invoiceContainer{
    padding: 10% 5%;
}
.myBox{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}
.myBox2{
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.myBox3{
    margin: 10% 10%;
    border-top: 2px solid black;
}
.invoiceContainer p{
    font-size: 20px;
}
.small{
    font-size: 15px;
}
.totalPrice{
    padding-left:70%;
    border-bottom: 2px solid black;
    
}
td{
    font-size: 25px;
}
th{
    font-size: 25px;
}
/* designing invoice page */
.invoicedata{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.invoices{
    display: flex;
    border: solid 2px grey;
    justify-content: space-between;
    width: 90%;
    padding: 10px;

}
.buttons{
   
    display: flex;
}
.buttons>.btn{
    margin: 2px;
}
.invoices>p{
    margin-left: 20px;
}
.arrange{
    display: flex;
    justify-content: space-between;
}
.invoiceSearch{
    margin-left: 55px;
    margin-bottom: 20px;
}
.deleteButton{
    margin-right: 55px;
    margin-bottom: 20px;
}
.form1{
    margin: 0 5px;
}


/* Styling the purchased product details on main page */
.purchaseDetails{
    border: 2px solid black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.purchaseDetails p{
    font-size: 30px;
}
.away{
    margin-left: 20px;
    margin-right: 60px;
    font-size: 25px;
}
/* Styling the analysis part */
.amount{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.amountBox{
    color: white;
    background-color: rgba(67, 83, 87, 0.788);
    border-radius: 3px;
    padding: 50px;
    width: 300px;
    text-align: center;
    
}
.minMax{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}


/* Styling Admin Page */
#admin{
    padding: 5% 10%;
}
.inputImage{
    margin-top: 5%;
}
/*Footer */
footer{
    margin-top: 10%;
    width: 100%;
    position: absolute;
    
    text-align: center;
}