*{
    box-sizing: border-box;
  
}
.collapse{
    padding-left: 60%;
}
.move{
    margin-left: 10px;
}
.container-fluid{
    padding: 5% 15%;
    
}
.mycontainer{
    display: flex;
    justify-content: space-around;
}
.productDetails{
    margin-right: 30%;
}
/* Designing the template for invoice */
.invoiceContainer{
    padding: 10% 5%;
}
.myBox{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}
.myBox2{
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.myBox3{
    margin: 10% 10%;
    border-top: 2px solid black;
}
.invoiceContainer p{
    font-size: 20px;
}
.small{
    font-size: 15px;
}
.totalPrice{
    padding-left:70%;
    border-bottom: 2px solid black;
    
}
td{
    font-size: 25px;
}
th{
    font-size: 25px;
}
/* designing invoice page */
.invoicedata{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.invoices{
    display: flex;
    border: solid 2px grey;
    width: 90%;

}
.buttons{
   margin: 1% 70%;
    display: flex;
    
}
.buttons>.btn{
    margin: 2px;
}
.invoices>p{
    margin-left: 20px;
}

/* Styling Login Page */
.loginContainer{
    height: 100vh;
    width: 100vw;
    background-color: gray;
    display: flex;
    justify-content: center;
    
}
.loginBox{
    overflow: auto;
    background-color: white;
    width: 34%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding: 10px 40px;
    border-radius: 3px;
    box-shadow: 3px 1px 1px rgb(209, 197, 197);
}

/* Styling the purchased product details on main page */
.purchaseDetails{
    border: 2px solid black;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.purchaseDetails p{
    font-size: 30px;
}
.away{
    margin-left: 20px;
    margin-right: 60px;
    font-size: 25px;
}
/* Styling the analysis part */
.amount{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}


/* Styling Admin Page */
#admin{
    padding: 5% 10%;
}
.inputImage{
    margin-top: 5%;
}